<% layout("/layouts/boilerplate.ejs",{showNavbar:true}) %>
<body>
  <h3>All Items</h3>
  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
    <% let mobileIndex = 0; let carIndex = 0; while (mobileIndex <
    allMobile.length || carIndex < allCar.length) { for (let i = 0; i < 4 &&
    mobileIndex < allMobile.length; i++) { let mobile =
    allMobile[mobileIndex++]; %>
    <a href="/items/<%= mobile._id %>" class="item-link">
      <div class="card col" style="width: 20rem">
        <img
          src="<%= mobile.image %>"
          class="card-image"
          alt="item_image"
          style="height: 12rem"
        />
        <div class="card-body">
          <h3 class="item-title index-price">
            &#8377; <%=mobile.price.toLocaleString("en-IN")%>
          </h3>
          <p class="card-text">
            <label class="show-description blur"><%= mobile.title %></label
            ><br />
            <% if(mobile.brand){%>
            <label><b> <%=mobile.brand%></b></label
            ><br />
            <%}%><% if(!mobile.brand){%>
            <label>&nbsp;&nbsp;&nbsp;</label><br />
            <%}%>
            <label class="size blur"
              ><%= mobile.neighbourhood %>,&nbsp;<%=mobile.city%></label
            >
          </p>
        </div>
      </div>
    </a>
    <% } for (let i = 0; i < 4 && carIndex < allCar.length; i++) { let car =
    allCar[carIndex++]; %>
    <a href="/items/<%= car._id %>" class="item-link">
      <div class="card col" style="width: 20rem">
        <img
          src="<%= car.image %>"
          class="card-image"
          alt="item_image"
          style="height: 12rem"
        />
        <div class="card-body">
          <h3 class="item-title index-price">
            &#8377; <%=car.price.toLocaleString("en-IN")%>
          </h3>
          <p class="card-text">
            <%= car.year %> - <%= car.driven.toLocaleString("en-IN") %> Km
            <br />
            <label><b><%= car.brand %>&nbsp;<%= car.model %></b></label
            ><br />
            <label class="size blur"
              ><%= car.neighbourhood %>,&nbsp;<%=car.city%></label
            >
          </p>
        </div>
      </div>
    </a>
    <% } } %>
  </div>
</body>
