<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h3>All Items</h3>
  <ul>
    <% for(let mobile of allMobile){ %>
    <li><a href="/items/<%= mobile._id %>"><%= mobile.title %></a></li>
    <% } %> <% for(let car of allCar){ %>
    <li>
      <a href="/items/<%= car._id %>">
        <%=car.brand %>&nbsp;<%=car.model %>&nbsp;(<%=car.year %>)
      </a>
    </li>
    <% } %>
  </ul>
</body>
