<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h3>Show Details</h3>
  <% if(mobile){ %>
  <li>&#8377; <%=mobile.price.toLocaleString("en-IN") %></li>
  <li><%=mobile.title %></li>
  <li><%=mobile.location%></li>
  <li><%=mobile.brand %></li>
  <li><%=mobile.description %></li>
  <form method="POST" action="/items/<%=mobile._id%>?_method=DELETE">
    <button>Delete</button>
  </form>
  <% } %> <% if(car){ %>
  <div class="card">
    <img src="<%=car.image%>" class="card-img-top" alt="item-image" />
    <div class="card-body">
      <p class="card-text">
        <%=car.brand %>&nbsp;<%=car.model %>&nbsp;(<%=car.year %>)
      </p>
    </div>
  </div>
  <b><li><%=car.brand %>&nbsp;<%=car.model %>&nbsp;(<%=car.year %>)</li></b>
  <li><%=car.variant %></li>
  <li>&#8377; <%=car.price.toLocaleString("en-IN") %></li>
  <li><%=car.fuel %></li>
  <li><%=car.driven.toLocaleString("en-IN") %> &nbsp;Km</li>
  <li><%=car.transmission %></li>
  <li><%=car.owners %></li>
  <li><%=car.location %></li>
  <li><%=car.description %></li>
  <form method="POST" action="/items/<%=car._id%>?_method=DELETE">
    <button>Delete</button>
  </form>
  <% } %>
</body>
